@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../fonts/NeueHaasGrotesk/NeueHaasDisplay-Roman.eot');
    src: local('../fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 55 Roman'), local('NeueHaasDisplay-Roman'),
        url('../fonts/NeueHaasGrotesk/NeueHaasDisplay-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasGrotesk/NeueHaasDisplay-Roman.woff') format('woff'),
        url('../fonts/NeueHaasGrotesk/NeueHaasDisplay-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}