 @media (max-width: 767px) { 
    .row-mobile-reverse {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    
    .vc_row-fluid {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
 }
