/*
* Home page template
*/

body {
    
    &.home {
       
    }
    
    #home-scrollpage-menu {
        bottom: -30px;
        .nav-item{
            &:hover:after {
            bottom: -23px !important;
            opacity: 1;
            }
        }
    }
    
}

.social-links {
    li {
        a {
            border-radius: 50%;           
            color: #232a34;
            background-color: rgba(141, 149, 157, 0.7);
            width: 1.715em;
            height: 1.715em;
            line-height: 1.715em;
            display: inline-block;
            text-align: center;
            
            i {
                font-size: 14px;
            }
            &:hover {
                background-color: rgba(141, 149, 157, 1);
            }
        }
    }
}