@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?8fcgc6');
  src:  url('../fonts/icomoon/icomoon.eot?8fcgc6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?8fcgc6') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?8fcgc6') format('woff'),
    url('../fonts/icomoon/icomoon.svg?8fcgc6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-catena-freddo:before {
  content: "\e90f";
  color: #fff;
}
.icon-integrazione:before {
  content: "\e910";
  color: #fff;
}
.icon-localizzazione:before {
  content: "\e911";
  color: #fff;
}
.icon-sicurezza:before {
  content: "\e912";
  color: #fff;
}
.icon-spie:before {
  content: "\e913";
  color: #fff;
}
.icon-sviluppatori:before {
  content: "\e914";
  color: #fff;
}
.icon-api-integration-icon:before {
  content: "\e90b";
}
.icon-fleet-management-icon:before {
  content: "\e90c";
}
.icon-planning-icon:before {
  content: "\e90d";
}
.icon-security-icon:before {
  content: "\e90e";
}
.icon-arrow-icon:before {
  content: "\e900";
}
.icon-facebook-footer-icon:before {
  content: "\e901";
}
.icon-facebook-header-icon:before {
  content: "\e902";
}
.icon-gplus-footer-icon:before {
  content: "\e903";
}
.icon-linkedin-footer-icon:before {
  content: "\e904";
}
.icon-linkedin-header-icon:before {
  content: "\e905";
}
.icon-menu-arrow-icon:before {
  content: "\e906";
}
.icon-phone-icon:before {
  content: "\e907";
}
.icon-twitter-footer-icon:before {
  content: "\e908";
}
.icon-twitter-header-icon:before {
  content: "\e909";
}
.icon-youtube-footer-icon:before {
  content: "\e90a";
}
