@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?8fcgc6');
  src:  url('../fonts/icomoon/icomoon.eot?8fcgc6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?8fcgc6') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?8fcgc6') format('woff'),
    url('../fonts/icomoon/icomoon.svg?8fcgc6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-catena-freddo-icon .path1:before {
  content: "\e90f";
  color: rgb(29, 29, 29);
}
.icon-catena-freddo-icon .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-catena-freddo-icon .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-catena-freddo-icon .path4:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-catena-freddo-icon .path5:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-catena-freddo-icon .path6:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-integrazione-icon .path1:before {
  content: "\e915";
  color: rgb(29, 29, 29);
}
.icon-integrazione-icon .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-integrazione-icon .path3:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-integrazione-icon .path4:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-integrazione-icon .path5:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-integrazione-icon .path6:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-integrazione-icon .path7:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-integrazione-icon .path8:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-integrazione-icon .path9:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-integrazione-icon .path10:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-integrazione-icon .path11:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-integrazione-icon .path12:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-integrazione-icon .path13:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(247, 247, 247);
}
.icon-integrazione-icon .path14:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(247, 247, 247);
}
.icon-integrazione-icon .path15:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(247, 247, 247);
}
.icon-localizzazione-icon .path1:before {
  content: "\e924";
  color: rgb(29, 29, 29);
}
.icon-localizzazione-icon .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-localizzazione-icon .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-localizzazione-icon .path4:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-localizzazione-icon .path5:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-localizzazione-icon .path6:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-localizzazione-icon .path7:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-localizzazione-icon .path8:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-localizzazione-icon .path9:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-localizzazione-icon .path10:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-sicurezza .path1:before {
  content: "\e92e";
  color: rgb(29, 29, 29);
}
.icon-sicurezza .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-sicurezza .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-sicurezza .path4:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-sicurezza .path5:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-sicurezza .path6:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-sicurezza .path7:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-sicurezza .path8:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-sicurezza .path9:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-sicurezza .path10:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-sicurezza .path11:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-sicurezza .path12:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-sicurezza .path13:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-sicurezza .path14:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-sicurezza .path15:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-sicurezza .path16:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-sicurezza .path17:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-sicurezza .path18:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-sicurezza .path19:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(246, 246, 246);
}
.icon-spie-icon .path1:before {
  content: "\e941";
  color: rgb(29, 29, 29);
}
.icon-spie-icon .path2:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-spie-icon .path3:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-spie-icon .path4:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-spie-icon .path5:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-spie-icon .path6:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-spie-icon .path7:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(253, 250, 255);
}
.icon-spie-icon .path8:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(253, 250, 255);
}
.icon-spie-icon .path9:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(253, 250, 255);
}
.icon-spie-icon .path10:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(253, 250, 255);
}
.icon-spie-icon .path11:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(253, 250, 255);
}
.icon-spie-icon .path12:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(253, 250, 255);
}
.icon-sviluppatori-icon .path1:before {
  content: "\e94d";
  color: rgb(29, 29, 29);
}
.icon-sviluppatori-icon .path2:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-sviluppatori-icon .path3:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-sviluppatori-icon .path4:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-sviluppatori-icon .path5:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-sviluppatori-icon .path6:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-sviluppatori-icon .path7:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-sviluppatori-icon .path8:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-sviluppatori-icon .path9:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-sviluppatori-icon .path10:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-sviluppatori-icon .path11:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-sviluppatori-icon .path12:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-api-integration-icon:before {
  content: "\e90b";
}
.icon-fleet-management-icon:before {
  content: "\e90c";
}
.icon-planning-icon:before {
  content: "\e90d";
}
.icon-security-icon:before {
  content: "\e90e";
}
.icon-arrow-icon:before {
  content: "\e900";
}
.icon-facebook-footer-icon:before {
  content: "\e901";
}
.icon-facebook-header-icon:before {
  content: "\e902";
}
.icon-gplus-footer-icon:before {
  content: "\e903";
}
.icon-linkedin-footer-icon:before {
  content: "\e904";
}
.icon-linkedin-header-icon:before {
  content: "\e905";
}
.icon-menu-arrow-icon:before {
  content: "\e906";
}
.icon-phone-icon:before {
  content: "\e907";
}
.icon-twitter-footer-icon:before {
  content: "\e908";
}
.icon-twitter-header-icon:before {
  content: "\e909";
}
.icon-youtube-footer-icon:before {
  content: "\e90a";
}
