.b{border: 1px solid rgba(0, 0, 0, 0.05)}
.b-a{border: 1px solid $border-color}
.b-t{border-top: 1px solid $border-color}
.b-r{border-right: 1px solid $border-color}
.b-b{border-bottom: 1px solid $border-color}
.b-l{border-left: 1px solid $border-color}

.b-info{border-color: $blue}


.list-default {
    li {
        list-style: none;
        padding-left: 8px;
        &:before {
            content: "\e684";
            font-family: 'Pe-icon-7-stroke';
            font-size: 23px;
            font-weight: normal;
            position: absolute;
            left: 6px;
        }
    }
}
