.b{border: 1px solid rgba(0, 0, 0, 0.05)}
.b-a{border: 1px solid $border-color}
.b-t{border-top: 1px solid $border-color}
.b-r{border-right: 1px solid $border-color}
.b-b{border-bottom: 1px solid $border-color}
.b-l{border-left: 1px solid $border-color}

.b-t-muted {border-top: 1px solid rgba(109, 118, 126, 0.2)}


.b-info{border-color: $blue}


.list-default {
    li {
        list-style: none;
        padding-left: 8px;
        font-weight: 500px;
        margin: 3px 0 3px 0;
        &:before {
            content: "\e685";
            font-family: 'Pe-icon-7-stroke';
            font-size: 20px;
            font-weight: 600;
            position: absolute;
            left: 30px;
            margin-top: -2px;
            color: $red;
        }
    }
}

// buttons
.btn-outline, .btn-outline button, .btn-outline a {
    
    font-weight: 500 !important;
    color: #000000 !important;
    border: 0 !important;
    font-size: initial !important;
    
    &:hover {
            background: none !important;
            i{
                transform: translate(15px, -7px) !important;
            }
        }
    
    i {
        font-size: 28px !important;
        line-height: 10px !important;
        right: 5px !important;
        
    }
}

.text-sm {
    font-size: 1rem;   
}

.text-xs {
    font-size: 0.80rem
}

.bg-black {
    background-color: #000000;
}

.l-h-xs {
    line-height: 14px;
}
