/* 
    Created on : 26-giu-2019, 17.04.02
    Author     : Domenico
*/

$brand-primary:         #101010;
$brand-body:            #464a4c;

$bg-gray-dark:          #e2e2e2;

$blue:                  #193246;

$border-color:          #EBEBEB;