/* 
    Created on : 26-giu-2019, 17.04.02
    Author     : Domenico
*/

$brand-primary:         #101010;
$brand-body:            #464a4c;

$bg-gray-dark:          #e2e2e2;

$blue:                  #193246;

$border-color:          #EBEBEB;

// Bootstrap variable overrides
$font-size-base: 1.15rem;
$enable-responsive-font-sizes: true;

$spacer: 1rem;
$spacers: (
  6: ($spacer * 3.5),
  7: ($spacer * 4.5),
  8: ($spacer * 5.5)
)

$h1-font-size:                $font-size-base * 3.0 !default;
$h2-font-size:                $font-size-base * 2.70 !default;
$h3-font-size:                $font-size-base * 2.0 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;